# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.env.*
venv/
.envrc

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pyre type checker
.pyre/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Misc
*.log
*.sqlite3
*.pdf
tmp_*.pdf

# Environment files
.env*
